/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body{
  background-color: #f7f7f7;  
}
#root {
  position : relative;
  width: 100%;
  height: 100vh;
}
#root.user_body{
  display: block;
  background-color: white;
}

.mainBox {
  padding : 2.5%;
  margin : 0px auto;
  /* margin : 50px 0px 0px 50px; */
  position : absolute;
  top : 0px;
  left : 15%;
  width : 100%;
  max-width: 1530px; /* 가로 최대 길이 */
  /* width : 80%; */
  background-color: #f7f7f7;
}

.commonBox {
  /* box-sizing: border-box; */
  padding : 2.5%;
  position : absolute;
  top: 50%; 
  left : 15%;
  width : 80vw;
  height : 90vh;
  background-color: #f7f7f7;
  transform: translateY(-50%);
}

.commonBox2 {
  padding : 2.5%;
  position : absolute;
  top: 50%; 
  left : 15%;
  width : 80vw;
  height : 90vh;
  background-color: #f7f7f7;
  transform: translateY(-50%);
}

#staffTable  th, #tableAll th , .roomtable tr th , .sentertable tr th {
  text-align : center;
  vertical-align : middle;
  text-overflow : clip;
}

#staffTable  td, #tableAll td , .roomtable tr td , .sentertable tr th {
  text-align : center;
  vertical-align : middle;
  text-overflow : ellipsis;
}
.roomtable tr td{
  height: 60px;
}

#tableAll{
  table-layout: auto;
  width: 100%;
  text-align: center;
  background-color: white;
}
.roomtable , .sentertable{
  width: 100%;
  text-align: center;
}
/* .roomtable tr th{
  text-align: center;
} */
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
}

/* 사이드 바 */
#sidebar div:nth-of-type(1) nav a , #sidebar div:nth-of-type(2) ul li > div{
  padding: 15px 16px;
}
#sidebar div:nth-of-type(1) nav span , #sidebar div:nth-of-type(2) ul li > div div span{
  font-weight: 900; 
  font-size: 18px;
}
.list-item.selected{
  background-color: #224a9a; color: white;
}
.list-item.selected div svg{
  color: white;
}
.list-item.selected:hover{
  background-color: #002266;
}
/* 사이드 바 */

#user_body{
  background-color: white;
  height: 100%;
  box-sizing: border-box;
}

#user_header ,#user_footer{
  display: flex;
  justify-content: center;
}
#user_header button , #user_footer div{
  max-width: 250px; 
}
#user_header button img , #user_footer div img{
  width: 100%; display: block; height: 180px;
}
.logo_btn{
  padding: 0; background-color: inherit;
  border: none;
}
#user_function{
  padding: 85px 0px;
  background-color: #f0f2f7;
  border-top: 1px solid #f0f2f7;
  border-bottom: 1px solid #f0f2f7;
}
.button_box{
  margin: 0 auto; padding: 50px;
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 100px;
  height: 100%;
  min-height: 635px;
  max-height: 635px;
}
.button_box .user_btn{
  width: 500px; font-size: 60px; font-weight: bold;
  background-color: #e7f3fa;
  color: #051766;
  border-radius: 20px; 
  border: 1px solid transparent;
}
.button_box .user_btn:not(:first-of-type){
  margin-top: 90px;
}
.button_box .user_btn:hover{
  background-color: white; border: 1px solid #f0f2f7;
}
.button_box .user_btn:focus, .logo_btn:focus ,
.button_box .user_btn:focus-visible {
  outline: none;
} 
.button_box .user_btn:focus,
.button_box .user_btn:focus-visible{
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#user_write{
  height: 100%; border: 1px solid #a1a1a1;
  padding: 50px; border-radius: 50px;
  margin: auto auto;
}
#user_write > button:first-of-type{
  width: 100%; margin-bottom: 40px;
}

#user_write > button:last-of-type{
  width: 100%; margin-top: 40px;
}
.user_selectBox{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.user_day{
  margin: 40px 0px;
}
.user_input div{
  flex-direction: row;
  justify-content: space-between;
}
.user_input > div:first-of-type{
  margin-bottom: 20px;
}
.user_input div label{
  margin: auto 0; font-size: 20px;
}
.user_input div div input{
  width: 400px; font-size: 20px;
}


.senterBox{
  display: flex;
  height: 100%;
}
.senter_input{
  border: 1px solid #a1a1a1;
  border-radius: 50px;
  padding: 50px;
}
.senter_input div{
  display: flex;
}
.senter_input label{
  margin: 0 auto 10px;
}
.senter_input > div:nth-child(1) , .senter_input > div:nth-child(2) , .senter_input > div:nth-child(3){
  margin-bottom: 15px;
}
.senter_input > div:nth-child(1) input{
  width: 249px;
}
.senter_input > div:nth-child(2) input{
  width: 535px;
}
.senter_input > div:nth-child(3) textarea{
  width: 519px;
}
.senter_input > div:nth-child(4) button{
  width: 100%;
}
.senter_input div div:not(:first-of-type){
  margin-left: 10px;
}
.senterLink{
  cursor: pointer;
}
.senterLink:hover{
  color: blue;
}



/* #region 기존 */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* #endregion 기존 */
.css-1evyvmv-MuiChartsSurface-root{
  padding: 10px;
}